[2014-03-29 00:05] barriosnahuel opened #1 "navigator.analytics is undefined"
Hi, I'm new using analytics from Cordova app and I can't get it work.
First of all I installed your plugin by:

[code]

After that, I imported analytics.js in my index.html like this:

[code]

and then in my scripts (imported after your analytics.js):

[code]

Do you know how to solve it? Thanks a lot!

[2014-03-29 01:17] #1 closed, assigned to nobody

[2014-05-21 10:43] danielfbm opened #2 "Can't submit App to Apple"
When I submitted the App to Apple for Approval they replied with the following:

"Dear developer,

We have discovered one or more issues with your recent delivery for "Mandaread". To process your delivery, the following issues must be corrected:

Improper Advertising Identifier [IDFA] Usage. Your app contains the Advertising Identifier [IDFA] API but you have not indicated its usage on the Prepare

[2014-05-23 00:45] #2 closed, assigned to nobody

[2014-05-27 00:01] ghost opened #4 "duplicate Tracker declaration"
I'm trying to get the new version up and running and noticed that there is a duplicate Tracker declaration in GoogleAnalyticsPlugin.java (android/)

[code]

[2014-05-27 02:41] #4 closed, assigned to nobody

[2014-05-30 18:22] avicks opened #5 "Undefined symbols for architecture arm64"
Hello,

When attempting to compile my project via XCode 5.1.1, I get a handful of linker errors.
Here is my output:

<code>
Undefined symbols for architecture arm64:
  "_inflate", referenced from:
      +[GAICompressionUtil gai_dataByInflatingBytes:length:isRawData:] in libGoogleAnalyticsServices.a(GAICompressionUtil.o)
  "_deflateInit2_", referenced from:
      +[GAICompressionUtil gai_dataByComp

[2014-05-31 17:07] #5 closed, assigned to nobody

[2014-06-05 18:34] avicks opened #6 "Hits not registering for iOS app emulation"
Hello again,

Code compiles with the GA Plugin and app executes just fine via XCode 5.1.1.  However, hits do not register.

After some research other people have run into similar issues, but the solutions all seem to be based around altering code in .m files as these other programmers are not using Cordova.  When trying to replicate any fixes other coders have come into my situation is not similar

[2014-06-07 15:08] #6 closed, assigned to nobody

[2014-08-02 01:41] VishalRJoshi opened #7 "Support .require method"
I am using your plugin and it is working great.  Really appreciate you putting this together.  I was considering using Display features of GA mentioned here https://developers.google.com/analytics/devguides/collection/analyticsjs/display-features and it feels like it won't be possible till you exposing passing 'require' to ga.  Can you consider adding it?

[2014-08-02 02:48] #7 closed, assigned to nobody

[2014-08-28 13:38] patrickschaper opened #8 "Events are not tracked on Android"
Devices:
Any Android v4+ device (other Android devices not tested)

Description:
Success callback function is called but no event is tracked at Google Analytics.

Call:

[code]

Notes:
- ANONYMIZE_IP is set to true
- Tracking views works fine
- Tracking events works great on iOS

Work-around:
It works when optional arguments event label and value are set (e.g. with empty string and 0).
Null values

[2014-09-01 09:10] tuananhhnaptech opened #9 "Google analytics mobile app real time is so slow"
Google analytics mobile app real time is very slow when use this plugin. Please help me!

[2014-09-02 23:43] #9 closed, assigned to nobody

[2014-09-03 11:28] patrickschaper opened #10 "Set log level of plugin"
**Enhancement**
For development and release version one should be able to choose between several log levels.

Example:
navigator.analytics.setLogLevel(navigator.analytics.LogLevels.ERROR)
navigator.analytics.setLogLevel(navigator.analytics.LogLevels.WARNING)
navigator.analytics.setLogLevel(navigator.analytics.LogLevels.VERBOSE)

navigator.analytics.setLogLevel(navigator.analytics.LogLevels.NONE)

[2014-09-21 20:43] #8 closed, assigned to nobody

[2014-09-21 20:43] #10 closed, assigned to nobody

[2014-10-30 14:34] ishaigor opened #11 "Crashes and Exceptions"
Hi Craig

I have a question about plugin support for uncaught exceptions and crashes:
will it support automatically the measurements as described in https://developers.google.com/analytics/devguides/collection/android/v3/exceptions ?

Thanks,
Irena

[2014-10-31 01:10] #11 closed, assigned to nobody

[2014-11-01 02:29] ishaigor opened #14 "Enhancement to report JavaScript uncaught exceptions"
The following function will report all uncaught JavaScript exception. If this can be hooked by plugin itself, it will be awesome. 'analytics' is global variable as in the examples.

[code]

I am able to do it in my app.js of the sample application I am playing with, not sure how to transplant this into the plugin itself.

[2014-11-03 21:48] #14 closed, assigned to nobody

[2014-11-05 17:10] tststs opened #16 "Undefined symbols i386 since latest XCode update"
Hey there.
- has target membership
- CoreData included
- tried to remove and re-added the plugin

Following error occurs:

ld: warning: directory not found for option '-L"/***/Plugins/com.cmackay.plugins.googleanalytics"'
Undefined symbols for architecture i386:
  "_OBJC_CLASS_$_GAI", referenced from:
      objc-class-ref in GoogleAnalyticsPlugin.o
ld: symbol(s) not found for architecture i386
cla

[2014-11-05 20:51] #16 closed, assigned to nobody

[2014-11-24 09:52] bend0303 opened #17 "Possible for broken usage? No data in dashboard"
Hey,
Looks like its all working well, but I can't see data in my dashboard (as there are nothing reporting)
I'm using The latest cordova+ionic and working on iphone 6 ios 8.

Can you please let me know what might be wrong?

This is the output:
2014-11-24 11:49:26.599 Analoc[732:208232] VERBOSE: GoogleAnalytics 3.07 -[GAIBatchingDispatcher persist:](GAIBatchingDispatcher.m:424): Saved hit: {
    pa

[2014-11-24 14:57] #17 closed, assigned to nobody

[2014-11-30 11:48] bend0303 opened #21 "Build error on object "_OBJC_CLASS_$_GAI""
Hey,
I get this error when trying to build:
Undefined symbols for architecture i386:
  "_OBJC_CLASS_$_GAI", referenced from:
      objc-class-ref in GoogleAnalyticsPlugin.o

It worked before but happened after I removed the unused plugin by Dan Wilson.

I checked in xcode that in build phases the correct file is built.

What could be the problem?

[2014-11-30 21:14] #21 closed, assigned to nobody

[2014-12-02 10:10] kentpachi opened #23 "No data in analytics although request are sent"
Hello,

I'm using you're plugin.

I followed your example and it works good.

Analytics is present and i send data via sendAppView and send.

The success callback says as response parameter "OK".

Everything looks good but there's no data in analytics. I've double checked this, and also checked Real time view which contains no data as well...

Any clue on this ?

I've created mobile application tr

[2014-12-04 19:27] #23 closed, assigned to nobody

[2014-12-07 12:51] jensljungblad opened #26 "No data reported even though success callback fires"
Using cordova 4.0, and the latest version of this plugin, I'm not seeing any data being reported. I've created an "app" property in Google Analytics and done the following:

[code]

Running it in the browser I'm getting a "failure: Missing Command Error" which I assume is because there is no implementation for the browser platform. When I run it in the iOS emulator, I get the success message, whic

[2014-12-11 15:17] ishaigor opened #27 "Thread pooling is needed for Android"
Hi Craig

Noticed the following suggestion in the android logs:
W/PluginManager( 3186): THREAD WARNING: exec() call to GoogleAnalytics.send blocked the main thread for 29ms. Plugin should use CordovaInterface.getThreadPool().

Can this be incorporated?

Thanks,
Irena

[2014-12-12 13:59] ilyakar opened #28 "IDFA problem"
Using this plugin I wasn't able to submit to the app store because my app doesn't use ads and this plugin uses an sdk that causes an idfa problem. I don't remember the exact terms, hope this is enough to explain what is going on.

[2014-12-12 16:33] #26 closed, assigned to nobody

[2014-12-12 17:01] #28 closed, assigned to nobody

[2014-12-12 18:17] #27 closed, assigned to nobody

[2014-12-13 16:50] dariospadoni opened #29 "iOS: no data tracked"
Hello
I can't see any data shown on my GA account.
I enabled verbose log, put some breakpoint in the code and apparently everything is working...This is some output from my app:

Startup:

VERBOSE: GoogleAnalytics 3.10 -[GAIBatchingDispatcher persist:](GAIBatchingDispatcher.m:497): Saved hit: {
    parameters =     {
        "&_crc" = 0;
        "&_u" = ".tenL";
        "&_v" = "mi3.1.0";

[2014-12-17 15:19] ishaigor opened #30 "Custom timing"
Hi Craig

I checked the API of the plugin and could not find implementation for custom timing: https://developers.google.com/analytics/solutions/mobile-implementation-guide#timings. Would love to have that available.

Thank you for all the enhancements you already did :-)
Irena

[2014-12-17 18:22] #30 closed, assigned to nobody

[2014-12-17 23:14] #29 closed, assigned to nobody

[2014-12-18 19:04] cmackay opened #31 "Google Tag Manager Support"
This ticket is for tracking the work for exposing tag manager api features

[2015-01-09 20:30] hellogerard opened #32 "Different from com.danielcwilson.plugins.googleanalytics?"
Quick question:

Is there any significant difference between this plugin and https://github.com/danwilson/google-analytics-plugin?  They both look like they do the same thing. Why write another GA plugin when there's already a popular one in use?

Thanks.

[2015-01-09 22:35] cmackay commented on #32
When I initially created this plugin, the other plugins I tried did not work and some required downloading of native libraries. I am not entirely familiar with the latest features other plugins provide but many of the plugins are focused on the most common set of analytics features (tracking views, events, and using custom variables). When I built this plugin I intentionally exposed the set and se

[2015-01-09 22:35] #32 closed

[2015-01-09 22:51] hellogerard commented on #32
Thanks, it does!

[2015-01-26 08:34] nvdcmptr opened #33 "Get tracker object."
How can i  get tracker object in non GAITrackedViewController?
I want use "sendException: withNSException:" method.

I try
[code]
but not useful.

[2015-01-26 18:19] cmackay commented on #33
Are you asking how to use the native api? Here is the site for the iOS native sdk docs.

https://developers.google.com/analytics/devguides/collection/ios/v3/
https://developers.google.com/analytics/help/

[2015-01-26 18:19] #33 closed

[2015-04-19 20:14] boynet opened #35 "use strict not working well with cordova?"
for example if I send number into sendEvent label than it throws(we should call .toString but that for another issue)
[code]
inside cordova checkArgs function

[2015-04-19 20:33] cmackay commented on #35
Thanks for your message. You might want to submit this issue to the Cordova repository containing checkArgs. Also if  you have a proposed solution for handling this within the plugin, you are welcome to submit a pull request for review.

Thanks,

-Craig

[2015-04-20 08:25] boynet commented on #35
why not to remove use strict from the production code? only use it on dev

[2015-04-20 13:33] cmackay commented on #35
I will remove 'use strict' and push out a new release

[2015-04-20 13:34] #35 closed

[2015-04-20 13:38] cmackay commented on #35
A new version of the plugin has been published to the cordova repository with the change.

http://plugins.cordova.io/#/package/com.cmackay.plugins.googleanalytics

[2015-04-20 13:48] boynet commented on #35
thanks :+1:

[2015-04-23 09:20] sing0730 opened #36 "only show in realtime"
My stat only show in realtime.I cant see any information in app overview. I use following code to send.

analytics.sendAppView(title, null, null);

Thanks for your help!

[2015-04-23 13:47] cmackay commented on #36
Because you are seeing the information in realtime, It appears everything is working properly. The analytics reporting data in the non-realtime areas is delayed. The Google Analytics docs go into more detail on this but just doing a quick search I found the following:

http://www.quora.com/How-lagged-is-the-reporting-of-Google-Analytics

Hope this helps.

[2015-04-23 13:47] #36 closed

[2015-04-29 01:00] pacotole opened #37 "Google Analytics cannot be resolved"
In Android when I test in debug mode the plugin works fine.
But if I build in release mode and open it with eclipse return a lot of "Google Analytics cannot be resolved" errors. Is necessary to do something more in Eclipse?

Finally I can build and sign for release following this (method 2): http://ilee.co.uk/Sign-Releases-with-Cordova-Android/

[2015-04-29 14:11] cmackay commented on #37
I don't really use eclipse so I am not sure how it works with Cordova plugins and their dependencies. You might want to see if there is a cordova plugin for eclipse. If there is anything that can easily be done to this plugin to better support working in eclipse, let me know. Sorry I can't be more help.

Thanks,

-Craig

[2015-04-29 14:11] #37 closed

[2015-05-19 20:52] jonystorm commented on #31
Hi @cmackay I was looking for a plugin that allows me to use GTM on my cordova app, does this plugin support it yet? In that case, how can I use it for it? Does it support GTM V2?

Thanks

-Jonatan

[2015-05-20 00:43] cmackay commented on #31
Hi Jonatan,

There was work started to integrate with the google tag manager in the branch (feature/gtm). I haven't looked at it in a long time and I was going to close this ticket since I haven't dedicated time to it recently. I would welcome any contribution if you wanted to help out on it. I forget what the state of the branch is. I guess part of the reason I have not dedicated much time toward

[2015-05-20 01:34] jonystorm commented on #31
I've been looking for a plugin that allows me track events using GTM V2 on Android and iOS. I haven't found one that works properly yet, and I found yours but didn't know in which state it was.
I need to be able to track and dispatch events on demand, as with any GA, but through GTM.

Thanks,

-Jonatan

[2015-05-20 07:29] zmagyar commented on #31
Actually I'm working on this again as now came the time when we really need this. The iOS version on the current branch is not working due to some recent SDK function rename. I have fixed that in my fork and added a few more improvements.

There are a few more fixes I'm considering and once those are passed I will make a pull request here.

[2015-05-21 00:11] cmackay commented on #31
Hi Zoltan,

Thats great. I appreciate your help with this. Once you have a pull request, I will review the Android work I had done and see what updates are needed for that.

Thanks!

-Craig

[2015-05-23 23:55] niroam opened #39 "analytics.enableAdvertisingIdCollection - Demoraphics"
Hi @cmackay

Noobish question maybe - Have you tested this against the GA Demographics reporting ? I was trying to get that working by using the following code, i get all the success callbacks but in the GA console it keeps failing to validate the tracking code asking to add the one line of code which is what the method enableAdvertisingCollection in your plugin does.

Am i implimenting the calls

[2015-05-24 19:15] cmackay commented on #39
I haven't used that feature and I am not sure how it works. Do you get a specific error message on the client? Also, do you see the appView event showing up in the console? If not, does it show up if you remove the enableAdvertisingIdCollection? I wish I could be more help but I haven't used the enableAdvertisingIdCollection function. Let me know how it works out.

Thanks!

-Craig

[2015-05-25 08:07] niroam commented on #39
Hi Craig,

I'm not getting any error messages and the appView event comes up on the console so as far as i know everything is working ok. my understanding is that enableAdervisingId starts sending the clients IDFA that allows google to report on any demographics they have for the IDFA collected elsewhere... I was hopin to show some stats on Age/Gender for usage on the app i'm creating and yours wa

[2015-05-25 14:09] cmackay commented on #39
Hi Niro,

Thanks for the info. I think this is related to the libAdIdAccess library which is no longer configured in the plugin.xml. The problem is that when this has been configured as part of the plugin, it can cause app store submissions to fail to apple. More details are in some of the closed issues where this has caused problems for users. We haven't found a good way to conditionally enable t

[2015-05-25 17:52] andreapozzetti commented on #39
@cmackay
hi, i ask you a recap.
i need the demographics functions.
in the current version of the plugin, demographics function are dislabled for iOS and works for Android? Or are disabled for both?

I want to enable this functionalities for iOS (and Android if they are disabled). i should reenable the parts of the plugin that you removed in a previous version?
thanks a lot

[2015-05-25 22:23] cmackay commented on #39
It is disabled in iOS and enabled in Android. There have been multiple issues submitted in the past where users have reported thats apps were rejected when this was enabled. The majority of users do not use this feature so for that reason it makes more sense that this be disabled.

If you need this functionality, you will have to add back the changes from this commit:

[2015-05-25 22:23] #39 closed

[2015-05-25 22:49] cmackay commented on #31
I don't think this is going to happen anytime soon. Maybe if in the future I have time or a need for this, I will look into it more. Its not only the time required in implementing this feature but also the time it takes to provide ongoing support of it. I welcome pull request if others want to add this. The pull requests will have to be consistent with the current code and ready for use by users.

[2015-05-25 22:49] #31 closed

[2015-06-24 20:28] jeresiv opened #40 "Integration with Adobe PhoneGap build"
Can this plugin be available through Phonegap build: https://build.phonegap.com/

[2015-06-25 20:56] cmackay commented on #40
The plugin is in the cordova repository but it looks like the phonegap repository requires a paid subscription to upload plugins. :( Seems odd. https://build.phonegap.com/plans If you have an account and want to upload it you are welcome to.

Thanks!

-Craig

[2015-06-25 21:44] cmackay commented on #40
Also, I sent an email to Adobe that they should review their policy when it come to open source projects submitting plugins. I will let you know if I hear back from them.

[2015-06-26 14:53] jeresiv commented on #40
Thanks Craig!

I have a paid subscription but when I attempt to add your plugin is says that a plugin with your name already exists. My guess is someone has uploaded your plugin privately. I will also contact Adobe to see what they can do.

[2015-07-24 04:47] zigzag-way commented on #40
Hi guys! How can we go ahead with this issue? May be we can find someone from Adobe-PhoneGap team?

[2015-07-24 17:18] cmackay commented on #40
Hi @zigzag-way! Yeah if you want to try submitting it to the repository, give it a try or feel free to follow up with Adobe. I sent an email to Adobe a month ago but I have not received a response.

Thanks,

-Craig

[2015-07-27 21:18] writeosahon opened #41 "Great Job on the Google Analytics Plugin"
@cmackay Great job on the plugin. It's easy to use and it's various functions provide adequate flexibility.

Thanks for this. I wish I could "star" it twice!! :)
Please keep the updates coming, especially when new updates of the Google Analytics SDK become available.

Cheers

[2015-07-27 22:11] cmackay commented on #41
Thanks! @writeosahon :)

I appreciate the feedback. If you ever notice new SDK updates that are not yet integrated with the plugin or have ideas for new features/improvements, please let me know.

Thanks!

-Craig

[2015-07-27 22:11] #41 closed

[2015-07-28 11:01] zigzag-way commented on #41
http://docs.build.phonegap.com/en_US/configuring_plugins.md.html#Plugins - according to this docs you can submit plugin here - www.npmjs.com - and all users will be able to use it. May be I misunderstand smth...

[2015-07-28 11:02] zigzag-way commented on #41
As I can see here (http://community.phonegap.com/nitobi/searches?query=submit+plugin&x=0&y=0&style=topics) this is a usual case for manual submitting...

[2015-07-28 13:29] cmackay commented on #40
Thanks @zigzag-way for the additional info on regarding plugin submission that you posted in a different issue #41. I wonder if that works for unpaid subscribers as well. The main thing I have been referring to regarding plugin submission is the https://build.phonegap.com/plugins page where it says "Please upgrade your PhoneGap Build account to submit a plugin." and the page https://build.phonegap

[2015-07-28 13:53] cmackay commented on #40
@zigzag-way I was reading through the page you sent in more detail and it says that plugins.cordova.io is deprecated. I wasn't aware of that. I will try to look into this more over the next few days so hopefully I can get this resolved soon by either publishing to phonegap or npm. Thanks!

[2015-07-28 14:03] jeresiv commented on #40
I've gotten a paid account, but when I try to add the plugin it says that it already exists. But its not in the searchable list of plugins, this leads me to believe that someone has added your plugin as a private plugin and that is blocking me from adding it. I have contacted Adobe but they have yet to respond.

[2015-07-28 16:13] jeresiv commented on #40
So I got a response from the PhoneGap team and apparently if you add the plugin on npm it will be accessible through PhoneGap build.

[2015-07-28 17:05] cmackay commented on #40
Thanks @jeresiv! I will add it hopefully later on today.

[2015-07-28 21:44] cmackay commented on #40
I added the plugin to npm using the instructions from:

[2015-07-28 21:51] cmackay commented on #40
Also when testing it out with the phonegap build, be sure to include the source attribute:

<gap:plugin name="com.cmackay.plugins.googleanalytics" source="npm" />

[2015-07-29 22:22] #40 closed

[2015-07-30 05:48] zigzag-way commented on #40
Yahoo!!! It is working now!!! Thx a log Craig!

[2015-07-30 06:19] zigzag-way commented on #40
Btw guys, has anyone seen the cordova\phonegap plugin to find the list of installed\running app on ios?

[2015-07-30 13:59] cmackay commented on #40
@zigzag-way Glad everything is working. :)

I am not familiar with a plugin for listing apps. I would think there might be one but I haven't used one.

[2015-07-30 14:27] jeresiv commented on #40
Yep thanks a lot Craig, love the plugin =)

[2015-07-30 15:23] cmackay commented on #40
Thanks @jeresiv :)

[2015-08-13 08:35] cauboy opened #42 "Google Play Campaign Attribution"
According to the [docs](https://developers.google.com/analytics/devguides/collection/android/v4/campaigns), some lines must to be added to the AndroidManifest for Google Play Campaign Attribution.

Are there any reasons why those are not added?

See: https://developers.google.com/analytics/devguides/collection/android/v4/campaigns
And an implementation here: https://github.com/appfeel/analytics-go

[2015-08-13 13:34] cmackay commented on #42
You only add entries for the features you need. I have not used Google Play Campaign Attribution but if you want to use that give it a try. It should work.

[2015-08-13 13:34] #42 closed

[2015-08-20 21:43] Freundschaft opened #43 "how to set Anonymize IP?"
for us in EU its kind of a strict requirement, is there a possibility to enable it?

Cheers

[2015-08-20 21:51] cmackay commented on #43
I haven't tried but you should be able to enable it by sending the aip parameter prior to tracking requests.

https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters?hl=en#aip

I would try setting the following prior to tracking.

analytics.set('aip', '1');

Let me know how it works out :)

[2015-08-20 23:31] #43 closed

[2015-08-21 21:25] GitRubb commented on #39
can setIDFAEnabled be added back to master? Doesn't make sense to remove it from the plugin when it's the responsibility of the developer to check those IDFA questions during app submission.

[2015-08-31 00:06] writeosahon opened #45 "App Build failing since last update"
Hello @cmackay Please the update you just released 6 hours ago is preventing Intel XDK from successfully building my app.
I have been using this plugin for about a month without issue. I'm building my app using Cordova 4.1.1.
I can see that the update to version 0.1.16 says you updated the Android dependency.

Please can you clearly state what was updated or can you reverse the version. Please.

T

[2015-08-31 01:43] cmackay commented on #45
Hi @writeosahon, This details about the change are in https://github.com/cmackay/google-analytics-plugin/pull/44

Do you get a specific error message? When I was testing the changes in the emulator I had to add the Google Repository and Google Support from the extras section within the Android SDK Manager. Maybe you are seeing a similar issue? Let me know if that is what you are getting for an err

[2015-08-31 03:08] writeosahon commented on #45
Hello Craig.
Unfortunately Intel XDK didn't give any details just that it failed to install your plugin.
No detailed error message or log was given.
The additions you spoke about, were you able to bundle them with the plugin?

Osahon Okungbowa
Sent from my Windows Phone

-----Original Message-----
From: "Craig MacKay" <notifications@github.com>
Sent: ‎31/‎08/‎2015 02:43 AM
To: "cmackay/google-anal

[2015-08-31 08:53] writeosahon commented on #45
Hello @cmackay . After reading #44  I am being to consider some possible reasons for this new build failure.
1st, what is the Minimum Android SDK supported by the new framework used in place of Google Play Services. Currently, my app supports sdk 12+ (i.e. 12 - 22).

2nd, what Cordova CLI Version are you using to build your work. Currently I use Version 4.1.2. Maybe you are using a higher CLI vers

[2015-08-31 14:12] cmackay commented on #45
I am not sure what the min android sdk supported by the new framework is.

As for the cordova CLI version I am running, it is 5.2.0. Not really sure what the issue is that you are having. It might be good to see if there is any way you can get more info on the problem you have. Is there any sort of debug logging you can enabled. Having some error details would help in troubleshooting this.

I am s

[2015-08-31 15:33] petarov commented on #45
The minimum required android sdk version seems to be [Android 2.3 (API level 9)](https://developers.google.com/android/guides/overview). As for Cordova CLI, I think it probably isn't an issue, because both the `framework` tag and `Gradle` build system are available since [v4.0.0](https://github.com/apache/cordova-android/blob/master/RELEASENOTES.md).

I believe the problem is just as @cmackay alre

[2015-08-31 23:01] cmackay commented on #45
Hi @writeosahon, I have done some more testing including trying out the Intel XDK. I was able to deploy a test app using the latest plugin in the XDX without any error. The emulation mode that I had seen didn't seem to run native plugins though. I did however install a clean instance of the android sdk, with a new test app using the latest plugin. Like before and as @petarov mentioned, two additio

[2015-09-01 09:48] writeosahon commented on #45
@cmackay @petarov Thanks for responding.
Thanks so much for the screenshots and detailed explanations. Let me explain a little of my development cycle: I do all my development using javascript and cordova plugins. I do not have any Andriod SDK installed on my system. When I need to build my app, I build it in the cloud (e.g. IntelXDK Build or PhoneGap Build).
Now, for someone like me that builds a

[2015-09-01 14:30] cmackay commented on #45
This is a plugin for cordova and phonegap builds and it follows the recommend approaches for including google play services. The approach of not including the common platform related dependencies is by design and the best practice. Otherwise many apps would include all these standard dependencies like google play services. I appreciate your suggestions but I will not be importing the dependency ja

[2015-09-01 14:30] #45 closed

[2015-09-01 14:58] petarov commented on #45
Just to add. I believe PhoneGap builds (at least older versions) may have some general error working with the `framework` tag. A similar issue, [reported here](https://github.com/phonegap/build/issues/439), seems to exist at the admob plugin side.

@writeosahon I don't have experience with PG, but maybe it is due to an older PG build version and maybe it is fixed with [PG Cordova Build 5.1.1](http

[2015-09-18 04:27] dbroadhurst opened #47 "iOS Xcode 7 runtime error"
I've run into an  issue when building with Xcode 7. My App builds but I'm getting the following error in the output window.

[CDVCommandQueue executePending] [Line 159] FAILED pluginJSON = ["INVALID","GoogleAnalytics","setIDFAEnabled",[]]

[2015-09-18 04:46] dbroadhurst opened #48 "Xcode 7 BitCode linker error"
I've run into the following linker error in Xcode 7.

com.cmackay.plugins.googleanalytics/libGoogleAnalyticsServices.a(TAGDataProvider.o)' does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. for architecture arm64

[2015-09-18 08:04] petarov commented on #48
One of several issues cordova devs face now with iOS9 ;)

@cmackay ver [3.13](https://developers.google.com/analytics/devguides/collection/ios/v3/sdk-download) probably fixes this, although I don't have time to try it at the moment.

[2015-09-18 13:02] cmackay commented on #48
Thanks @dbroadhurst for reporting this. I will take a look at this in more detail this weekend and hopefully get a fix out soon. Thanks @petarov for the suggestion about v3.13. I will take a look at that and see if that resolves the issue.

[2015-09-18 13:09] cmackay commented on #47
IDFA is not supported in this plugin for iOS due to causing many app store submission issues. Refer to the prior issues for more information.
https://github.com/cmackay/google-analytics-plugin/search?q=idfa&type=Issues&utf8=%E2%9C%93  Thanks!

[2015-09-18 13:09] #47 closed

[2015-09-18 13:12] cmackay commented on #47
Also if you are not calling enableAdvertisingIdCollection and receiving this issue during building then this issue is probably related to whatever is causing the other issue you submitted #48 which I will be looking into.

Thanks!

[2015-09-18 22:01] cmackay commented on #48
I am not seeing this error. Xcode 7 is installed on my system but I don't build within xcode, I use the "cordova build ios" command. It builds successfully without any errors. Please provide more details on how I can reproduce this. Thanks!

[2015-09-19 01:13] dbroadhurst commented on #48
I think the problem happens when you build in Xcode 7 for a real device. Confirmed I can also build with cordova but you need to build in Xcode to release.

[2015-09-19 06:03] cmackay commented on #48
Thanks for the additional info. I tried building in xcode but my environment is not really setup currently for a release build. I don't have a developer certificate. I also tried the approach outlined in this http://stackoverflow.com/questions/24061063/how-can-i-deploy-create-ipa-iphone-app-using-cordova-build-ios-release

but I get the message:

No code signing identities found: No valid signing

[2015-09-19 06:11] dbroadhurst commented on #48
I tried the latest SDK but it didn't fix, although I just upgraded the lib so I could have missed a step.

There's a lot of conversation around this being a known issue and people are just waiting for a google fix. It is possible to disable bitcode in the xcode build settings which seems to get through the build and link steps but I'm just not convinced analytics still works or how globally switch

[2015-09-19 08:36] petarov commented on #48
I also did a quick test and as @dbroadhurst says the upgrade of GA sadly doesn't fix this. Looks like we are [waiting for Google](https://code.google.com/p/analytics-issues/issues/detail?id=671) to address this.

As [suggested](https://forums.developer.apple.com/thread/8991) in the iOS devs forums, one needs to disable the bitcode option in the (generated cordova) xcode project. This should fix it

[2015-09-19 14:48] cmackay commented on #48
I just woke up and started looking into this more. I see you guys are way ahead of me :) I appreciate all the information. I am tracking the issue you linked @petarov and I will see if maybe I can disable the bitcode option through the plugin config. Not sure If that is possible but it might provide a good work around until an official fix is provided from Google. Let me know if either of you find

[2015-09-19 15:35] cmackay commented on #48
http://stackoverflow.com/questions/30848208/new-warnings-in-ios9

[2015-09-19 15:57] cmackay commented on #48
I guess there is not really much that can be done at this point until the native analytics sdk provides bit code. If anyone is having this issue, It looks like the best thing to do is to set ENABLE_BITCODE to NO as shown in the above stackoverflow post. It looks like watch apps require bitcode so hopefully there will be an SDK release soon so that the updates can integrated with this plugin.

[2015-09-19 23:34] writeosahon commented on #45
@petarov @cmackay Thanks for the detailed links and explanations. I have been away, hence the late response.
You are absolutely right. The Intel XDK has a problem with resolving gradle builds with libraries/resources from Google. Right now, XDK checks the maven central repo when trying to resolve resources. Unfortunately, Google does not house its libraries in any of those repos.
I'll log an issue

[2015-09-24 19:01] jensljungblad commented on #48
I disabled bitcode but the plugin is not reporting to Analytics anymore :( Happened when building with the new Xcode.

[2015-09-24 19:58] jensljungblad commented on #48
I'm not good with Xcode or Obj-C but after placing a few breakpoints it seems it ends up in the `send` function:

[code]

And runs the `[tracker send:params];` line. Not sure what happens there. I can't seem to step inside that method, and I couldn't find it anywhere in the code.

[2015-09-24 22:47] cmackay commented on #48
tracker send is the native analytics tracker method

https://developers.google.com/analytics/devguides/collection/ios/v3/reference/protocol_g_a_i_tracker-p.html#ae200c9432a91242cf4e1e4917f353c14

[2015-09-25 05:38] jensljungblad commented on #48
So any idea why it's not working anymore? Is it working for anyone with the new Xcode?

[2015-09-25 05:59] Deminetix commented on #48
I just had XCode automatically update itself (i was specifically ignoring it as i don't want to worry about iOS9 yet) and came across this issue too.

I set bitcode to NO and now it builds and runs on a device fine. The other issue i had (and maybe the reason analytics aren't sending for you) is the introduction of transport security, which i fixed by adding NSAllowsArbitraryLoads=true in my plist

[2015-09-25 06:40] jensljungblad commented on #48
Tried that and also tried
[code]
posted here: https://www.google.com/search?sclient=psy-ab&es_sm=91&btnG=Search&q=ns+allows+arbitrary+loads#q=google+analytics+app+transport+security+ios9

No luck. Still nothing being reported unfortunately.

[2015-10-04 00:40] Freundschaft commented on #43
I think this only aplies to the JS version of analytics?
for the native ones there is a dedicated invocation available:

https://developers.google.com/android/reference/com/google/android/gms/analytics/Tracker.html#setAnonymizeIp(boolean)

I submitted a pull request on the other analytics plugin which should be recycleble
https://github.com/danwilson/google-analytics-plugin/pull/154/files

[2015-10-04 21:15] cmackay commented on #43
I am not sure why that would apply to only the JS version.  It is part of the measurement protocol. Are you saying you tried using it and it didn't work? Please feel free to submit a pull request if you like.

[2015-10-05 09:20] petarov commented on #43
I always thought that `setAnonymizeIp(boolean)` was a kind of synonym to the `&aip` parameter. At least it _should be_, because as @cmackay said,  `&aip` is really a part of the [analytics protocol](https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#aip) itself and not strictly specific to a language API. I've used this so far without really testing it, but I shoul

[2015-10-12 14:06] Ziv-Barber opened #49 "more than one library with package name 'com.google.android.gms'"
Anyone managed to find a solution to the com.google.playservices problem?

[2015-10-13 09:08] hussfelt commented on #48
Just for reference:
https://code.google.com/p/analytics-issues/issues/detail?id=671

[2015-10-18 22:04] cmackay commented on #49
I don't get this error. Do you have any more details on this? Are you using the latest version of the plugin?

Thanks,

-Craig

[2015-10-19 12:06] RonCan opened #50 "Set User ID support"
Hey, thanks for the plugin. It just works. Do we have something like `setUserId('my-user-id')` with which the user specific things could be tracked?
I need it in kind of an urgency

[2015-10-19 14:56] cmackay commented on #50
Thanks @RonCan! To set the user id you should be able to set it using something like the below snippet. For more info on other params, this page has the supported features for the measurement protocol. All of which should work with the plugin. https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#uid

[code]

Thanks!

-Craig

[2015-10-19 14:56] #50 closed

[2015-10-22 17:32] pacotole commented on #49
The problem is when use the plugin with others plugins that use google play services also.

How you can replicate the problem (e.g. onesignal plugin uses Google GCM):

[code]

[2015-10-23 07:21] pacotole commented on #49
The problem is that are two versions of com.google.android.gms

I solved it editing plugin.xml in all plugins that use Google Play Services and set tags `<framework src="com.google.android.gms:service-name:XXX" />` to the last version (8.1.0)

https://developers.google.com/android/guides/setup

After clean gradle files:

[code]

[2015-10-23 18:26] Ziv-Barber commented on #49
The problem is that adding the plugin google play services make 2
compilation lines inside the gradle.build file.
The additional problem is that every time that you build something adding
this line again into gradle.build.
The work around is to edit gradle.build:
1. Find and remove the compile line for google play services
2. Remove the two comments just above and below this line to prevent
cordov

[2015-10-23 18:52] cmackay commented on #48
Looks like there is a new ios sdk with bitcode. I should have a new release of the plugin in the next day or so.

[2015-10-23 22:27] #48 closed

[2015-10-26 00:32] kloppster opened #51 "Browser platform?"
Any chance you would be able to add the browser platform to this? Maybe using the javascript API? Makes testing easier when doing it via a browser.

[2015-10-26 00:41] cmackay commented on #51
I don't think I will have time to do it but if you are interested in that functionality and would like to submit a pull request, I welcome contributions from others. Thanks for the suggestion!

-Craig

[2015-10-26 00:41] #51 closed

[2015-10-29 15:26] avaz-19 opened #52 ""AnalyticsReceiver is not registered or is disabled" error when using plugin"
Hi,

I'm trying to use the google analytics plugin.  I've created an analytics account on Google and I've added your plugin correctly to my cordova project.  The README does not have any documentation on how to setup the native side of the plugin.  I'm getting a "AnalyticsReceiver is not registered or is disabled" error when trying to use the plugin.  The google documentation says to add a few lin

[2015-10-29 15:29] avaz-19 commented on #52
My apologies.  I just wasn't setup on the Google developers site.  Everything is working now.  Thanks!

[2015-10-29 16:34] cmackay commented on #52
No problem :) glad you resolved the issue

[2015-10-29 17:46] avaz-19 commented on #52
This is what I'm seeing in the logging when using the plugin:

I/GAv4﹕ Google Analytics 8.1.15 is starting up. To enable debug logging on a device run:
    adb shell setprop log.tag.GAv4 DEBUG
    adb logcat -s GAv4
 W/GAv4﹕ AnalyticsReceiver is not registered or is disabled. Register the receiver for reliable dispatching on non-Google Play devices. See http://goo.gl/8Rd3yj for instructions.
W/GAv

[2015-10-29 20:26] #52 closed

[2015-10-29 20:28] cmackay commented on #52
A new release has been published to address those warnings. you will have to update your project for the changes to take effect.

[2015-10-30 19:13] avaz-19 commented on #52
Thanks!  That resolved my issue.  Appreciate the quick response :+1:

[2015-10-30 20:59] cmackay commented on #52
Great, glad it resolved the issue. :) Thanks for reporting it!

[2015-11-03 15:43] avaz-19 opened #53 "Using custom dimensions with the plugin"
Hi,
I'm trying to use custom dimensions with the plugin and I'm seeing some behaviour in the report and logging that I'm unsure about.

I've created a hit-level scope custom dimension.  I would like to log the custom dimension with an event hit (specifically a button press).  However what I've noticed in the logging is the custom dimension is getting hit against the button press event and the next

[2015-11-03 16:24] avaz-19 commented on #53
As a follow up to this.  I just took out my custom dimension and noticed that I'm still not getting logging for this particular report.

The report in question is Behavior -> Events -> Screens.  It's supposed to give you a breakdown of number of events for a particular screen.  However I'm just getting "no data for this view".  I do have screen view events logged for my app as I can view other inf

[2015-11-03 17:33] cmackay commented on #53
You might want to try making both calls from within the success callback on customDimension

[code]

[2015-11-03 19:45] avaz-19 commented on #53
Unfortunately because of the code design, I cannot make the app view call from that callback that success callback.  I've tried the sending the event from the success callback but I'm still not able to see data for that view.

Have you ever encountered an error like this before?  Could this possibly be a bug?

[2015-11-03 20:29] cmackay commented on #53
I have not encountered this before. This plugin provides a lightweight wrapper around the native sdks so you may find more details on this referring to the native plugin discussion groups or the measurement protocol docs. When you call customDimension it sets the following parameter from the measurement protocol docs. https://developers.google.com/analytics/devguides/collection/protocol/v1/paramet

[2015-11-03 22:04] avaz-19 commented on #53
The issue isn't with the custom dimension.  I'm actually getting the information for my custom dimension fine.  The problem is for some reason I'm seeing data any data under the Behviour->Events->Screens report.  That information should be completely independent of my custom dimension.

[2015-11-03 22:56] avaz-19 commented on #53
I solved the issue.  I'm a bit of a newbie with Google Analytics.  I was sending Screen views but in order to get events tied to a screen, you have to use the set() function (navigator.analytics.set(navigator.analytics.Fields.SCREEN_NAME, screenName)) before sending events.  That solved the issue.  Thanks!

[2015-11-03 23:02] cmackay commented on #53
Great, glad you figured out what the issue was. :)

[2015-11-03 23:02] #53 closed

[2015-11-05 22:38] petarov commented on #48
Pretty cool! Compiles flawlessly now :+1:

[2015-11-05 22:41] petarov commented on #49
@Ziv-Barber  Are you using a plugin that does not make use of the `<framework>` as @pacotole  suggested? This is the most common reason for this problem.

[2015-11-20 17:11] cmackay commented on #49
I am closing this. When I tested this I wasn't able to reproduce this. It appears to be the issue both @pacotole and @petarov suggested.  If there are more details, feel free to reopen. Thanks!

[2015-11-20 17:11] #49 closed

[2015-11-21 19:59] femiji opened #56 "analytic-test returns undefine"
I have followed the step for setting up the analytic test here

https://github.com/cmackay/google-analytics-plugin/issues/1

and I got undefined as the output of alert(navigator.analytics)

I am using
Cordova 5.3.3

Does the plugin work with cordova 5.3.3

[2015-11-22 16:53] cmackay commented on #56
What platform are you running on? Ios or Android?

[2015-11-22 17:12] femiji commented on #56
Android

[2015-11-22 17:40] cmackay commented on #56
I just tested using the latest cordova 5.4.0 and I was able to successfully use the plugin. Are you accessing the navigator.analytics object after the device ready event?

[code]

[2015-11-23 23:30] #56 closed

[2015-11-24 05:52] femiji commented on #56
Thanks for the speedy response. It caught me off guard.

Here is what I got
The Connection To The Server Was Unsuccessful. (file:/android_asset/www/index.html)

Is that what I should get instead of undefine?

Thanks.

[2015-11-24 19:58] cmackay commented on #56
Hmm, I have never received that when using the plugin. I would recommend trying in a clean project.

[code]
then verify the app is working before adding the plugin, then run:

[code]

then add the following to in www/js/index.js

[code]

and build again then see if it is working.

I think it is best to try the above to verify the environment is working properly. Let me know what you find.

[2015-11-24 22:53] femiji commented on #56
now the alert box didn't pop up.

this is the bottom of my index.html

<script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
			document.addEventListener('deviceready', function () {
    alert(navigator.analytics);
  }, false);
		</script>

[2015-11-24 23:24] cmackay commented on #56
There are many potential issues that could occur in troubleshooting a hybrid app so it is difficult for me to provide any help. If the deviceready event is not firing in a new app then you must have a problem with your environment or project setup. I think stackoverflow may provide more help.

http://stackoverflow.com/questions/8982728/deviceready-not-working-in-phonegap-application-how-to

[2015-12-08 05:08] sungwoncho opened #57 "duplicate symbol while building for iOS"
When I run `cordova plugin add com.cmackay.plugins.googleanalytics` and build my project for iOS by running `cordova build ios`, I get a bunch of errors saying that there is a duplicate symbol. The build eventually fails.

I can build and run for the Android platform without problem.

This is the error:

[code]

So far, I have tried to

(1) remove and install the plugin again couple of times
(2) u

[2015-12-08 09:33] ivanov84 commented on #57
It's because of GOOGLE!!!!
GOOGLE made new version of GA SDK 3.15 on 3 of December!!!!!

https://developers.google.com/analytics/devguides/collection/ios/v3/sdk-download?hl=en

But I still did not resolve the problem

[2015-12-08 13:27] ivanov84 commented on #57
I found this:

Plugin Submission Guidelines
Any application that contains binary libraries will be rejected. This is because we need to be able to see exactly what is in a plugin as part of our code review process. So when submitting a plugin make sure that it doesn’t contain binary libraries. (PhoneGap)

So... IMHO, we need to fix code in ours plugins.
Any ideas?

[2015-12-08 16:56] ivanov84 commented on #57
Specialist from Intel XDK said:

Our iOS build system is still using Xcode 6, we are in the process of upgrading it to Xcode 7, but no ETA on when that upgrade will be available. In order to use the v3.13 version of the library, you'll have to contact the plugin developers to figure out which version of their plugin still uses v3.13 of the Google Analytics library.

[2015-12-12 17:54] cmackay commented on #57
This is an Intel XDK issue as noted in the other comments. When I run the build in a new project with the plugin I do not get this error. I think there was another closed issue about this. As for the tagging of the releases, I will keep that in mind next time I publish a release.

[2015-12-12 17:54] #57 closed

[2016-01-11 15:59] vespino opened #58 "Phonegap Build"
Any chance of this plugin working with Phonegap Build?

[2016-01-11 19:33] cmackay commented on #58
Do you get an error message? Did you have any details?

[2016-01-11 21:15] vespino commented on #58
Are you saying the plugin should work with PGB? I didn't look into any errors, but my app seemed to stop due to a JavaScript error.

[2016-01-11 22:35] cmackay commented on #58
It was working with phone gap and I am not aware of any issues. Let me know if you have any error details.

[2016-01-11 22:38] cmackay commented on #58
Here is an older issue related to phonegap so you can see how others have integrated the plugin with their phonegap build. https://github.com/cmackay/google-analytics-plugin/issues/40

[2016-01-11 22:39] cmackay commented on #58
you may need the source attribute when including the plugin:

[2016-01-12 07:54] vespino commented on #58
I have tested another plugin which works fine.

[2016-01-12 07:54] #58 closed

[2016-02-24 18:55] hassankhan opened #59 "ERROR: Method 'setIDFAEnabled:' not defined in Plugin 'GoogleAnalytics'"
Hi, I'd like to enable IDFA in Google Analytics. I used the `enableAdvertisingIdCollection()` but I get the error mentioned in the title. Is this unsupported now?

[2016-02-24 19:04] cmackay commented on #59
That feature is not supported. It was at one point but due to issues it was removed. There are multiple closed issues related to this.

[2016-02-24 19:04] #59 closed

[2016-03-01 03:07] hassankhan opened #60 "IDFA"
I read through the issues, the only reason someone's app would get rejected on the App Store is if they hadn't ticked the correct boxes. Maybe it could be enabled with a warning on the README?

[2016-03-01 19:55] cmackay commented on #60
My understanding of this is that for it to work the ios lib libAdIdAccess.a has to be linked (and the  Ad Framework support). When submitting the app, the app store detects that this lib is present and if a user has not configured idfa it causes a failed submission because the library is linked and not used. I don't know that there is a good solution to link this only when needed. The majority of

[2016-03-01 19:55] #60 closed

[2016-03-07 15:01] Jacse opened #61 "Install via npm"
Would be cool if we could be able to install like so:
`cordova plugin add cordova-plugin-google-analytics`

That's the way most cordova plugins are installed as of Cordova 5.0+

[2016-03-07 17:32] cmackay commented on #61
I use cordova plugin add to install it. what is the issue?

cordova plugin add com.cmackay.plugins.googleanalytics

[2016-03-07 17:35] Jacse commented on #61
Sorry for being unclear - it's more a naming-convention thing as most plugins follow the above format.

Not an issue at all, merely suggesting to follow the new naming-convention :+1:

[2016-03-07 17:37] cmackay commented on #61
looks like https://www.npmjs.com/package/cordova-plugin-google-analytics is taken :)

[2016-03-07 17:37] #61 closed

[2016-03-07 20:26] arjankuijpers opened #62 "Not compatible with XDK cordova 5.1.1 iOS"
when trying to build with XDK 2866
I get this error:

com.cmackay.plugins.googleanalytics/libGoogleAnalyticsServices.a(GAITrackerModel.o)
ld: 223 duplicate symbols for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2016-03-07 23:37] cmackay commented on #62
duplicate of #57

I don't use the intel XDK so not sure why it doesn't work properly with cordova components. If you find out a fix, feel free to submit a PR.

[2016-03-08 01:14] arjankuijpers commented on #62
i found a version that works with the current XDK version: on android as iOS
commit: `[d94f91aa0ed18ebc829ec8d6c159c777edfa0744](https://github.com/cmackay/google-analytics-plugin/commit/d94f91aa0ed18ebc829ec8d6c159c777edfa0744)`

[2016-03-17 15:49] albertleao opened #63 "Active page won't show in GA Real time"
My GA real time dashboard shows that my user is online, but even when sending

`analytics.sendAppView('home', successCallback, errorCallback);
`
and getting a callback of 'OK' but the active page does not update

[2016-03-17 22:16] cmackay commented on #63
There are many potential problems that can occur in troubleshooting a hybrid app. It could be project specific, plugin issue, platform specific problem, or maybe an issue with the google analytics setup. I am not experiencing the same issue you are having. I just brought up a clean project by doing the below commands and I could see the app view showing up in GA real time view.

cordova create ana

[2016-03-17 22:16] #63 closed

[2016-03-22 16:02] youssmak opened #64 "Add support for multiple trackers"

[2016-04-17 17:51] sathiyaraj45 opened #65 "Sound play issue while enable google-analytics object"
Hi,
I installed google analyics plugin my cordova 5.1.1 project. While i declare the following code mean

        var analytics = navigator.analytics;
	 console.log(analytics);
	 analytics.setTrackingId('UA-xxxxxx-y');
	 analytics.sendAppView('landing_page', successCallback, errorCallback);

i got error Object {code: 0}  in cordova media play

[2016-04-17 19:19] cmackay commented on #65
I don't know what that means.  I would recommend checking the native sdks support groups. This plugin provides a thin wrapper around the native sdks so you are more likely to find better information on the Google Analytics native plugins within there. Feel free to reopen this if you get more info and think it is a plugin related issue. Here is the analytics developers site. https://developers.goog

[2016-04-17 19:19] #65 closed

[2016-05-22 15:11] RezaRahmati opened #66 "Application carshes on Android"
Hi

When I try to use the plugin it compiles fine but when I run the app on device it crashes.
Do you have any clue?

Android 5.1.1
Cordova 5.4.1
![4](https://cloud.githubusercontent.com/assets/10086092/15454685/f869c11c-200d-11e6-82bd-47c1244f7d91.png)

[2016-05-22 16:30] cmackay commented on #66
I don't have a clue as to why your application is crashing. Maybe if you get an error message you can submit that. I would recommend creating a new application adding the plugin and then if it fails enable logging and see what the error message is.

[2016-05-22 16:30] #66 closed

[2016-06-13 05:03] leandroz commented on #63
When configuring the analytics account, we need to select mobile app or web app?

[2016-06-13 11:24] Ziv-Barber opened #67 "Invalid use of Google Play Services (+ a workround how to fix it)"
On build.gradle:

Change:

dependencies {
    compile fileTree(dir: 'libs', include: '*.jar')
    // SUB-PROJECT DEPENDENCIES START
    ...
    compile "com.google.android.gms:play-services:+"
    // SUB-PROJECT DEPENDENCIES END
}

To:

dependencies {
    compile fileTree(dir: 'libs', include: '*.jar')
    // SUB-PROJECT DDDEPENDENCIES START
    ...
    // compile "com.google.android.gms:play-serv

[2016-06-13 12:33] petarov commented on #63
@leandroz You need to use Mobile App.

[2016-06-13 17:13] cmackay commented on #67
At one time It was possible and it was also the documented approach for including google play services but things do change. I appreciate the information you have provided.

It looks like this might need updating so that people don't have to manually edit the gradle file. https://github.com/cmackay/google-analytics-plugin/blob/master/plugin.xml#L83

I will make the change sometime later on and pub

[2016-06-14 21:40] #67 closed

[2016-08-02 11:07] pallaviMN opened #68 "How to get logs of all events?"
I would like to display log of all tracked events & tracked views. How can i get that?

[2016-08-02 14:01] cmackay commented on #68
This plugin provides a wrapper around the native analytics sdks which focuses on data collection. Viewing of the events and views is primarily done through the reporting interface for google analytics. https://www.google.com/analytics/

Also this information is available through the APIs for reporting. For more details on this refer to:
https://developers.google.com/analytics/

[2016-08-02 14:01] #68 closed

[2016-08-03 03:57] pallaviMN commented on #68
@cmackay , i went through the google analytics, can you please tell which API can be used to get the  details of viewing events & screens

[2016-08-03 14:01] cmackay commented on #68
I don't know which api you use for retrieving events. It is not something supported for this plugin. I would refer to the docs or there is a getting help link at the bottom of the docs page. Also if you search around you can see others are doing it so it should be possible. Maybe this will help. It looks relevant. http://stackoverflow.com/questions/8371533/how-to-read-events-from-google-analytics-

[2016-09-14 12:06] rakeshtembhurne opened #69 "Intel XDK does not recognise plugin"
I am trying to do iOS development but the Intel XDK seems to be not recognizing the plugin. I think it has to do something with newer version of Intel XDK (3522). Earlier we were able to check plugin is loaded with `navigator.analytics` is null or not. In debug mode when I press 'navigator' I see many keys but not analytics.

OS: Ubuntu16.04
Intel XDK: v3522
Device: iPhone 5S (version 9.3.5)

[2016-09-14 17:53] cmackay commented on #69
This may be related to the other intel XDK issues marked as "wont fix". https://github.com/cmackay/google-analytics-plugin/issues/62

If you find a fix that requires a code change, then feel free to submit a PR. This plugin is designed to work as a standard cordova plugin and works with the cordova cli. I don't use XDK and I don't know what it does differently that causes plugin issues. If there i

[2016-09-14 17:53] #69 closed

[2016-10-12 10:47] S-unya opened #70 "AllowIDFACollection callback never called in iOS"
Testing this on Android and iOS, I call:
`analytics.enableAdvertisingIdCollection(() => {
            alert('enableAdvertisingIdCollection success');// eslint-disable-line no-console
        }, () => {
            alert('enableAdvertisingIdCollection failure');// eslint-disable-line no-console
        });`
Android calls the success function reliably, but iOS never does.

Checking on the GoogleAnal

[2016-10-12 14:15] cmackay commented on #70
It is not set in the implementation on iOS due to multiple issues related to IDFA and iOS. For more info refer to #60 and there are other closed IDFA related issues. If you want this behavior I would recommend forking and applying it to your branch.

[2016-10-12 14:15] #70 closed

[2016-10-12 14:16] cmackay commented on #70
https://github.com/cmackay/google-analytics-plugin/search?q=idfa&type=Issues&utf8=%E2%9C%93

[2016-10-12 15:03] S-unya commented on #70
Understood. Thanks.

[2016-11-04 14:35] sandroweb opened #71 "Build error [UNEXPECTED TOP-LEVEL EXCEPTION]"
When I run the command `$ cordova run android --verbose`

![image](https://cloud.githubusercontent.com/assets/260201/20009187/a7223e56-a28a-11e6-957a-c76964430c6b.png)

After remove your plugin, my app compile without errors.

I'm tested with Cordova Android Engine 5.0.0 and 5.1.1.
My Cordova version is 6.3.1.
The minSDKVersion of my App is 15.

[2016-11-04 15:15] cmackay commented on #71
I believe that means multiple plugins are conflicting. What other plugins are you using?

I see an issue on stackoverflow that might provide some possible work arounds:

http://stackoverflow.com/questions/32511242/cordova-error-on-build-only-for-android-com-android-dex-dexexception-multiple

[2016-11-04 15:26] sandroweb commented on #71
I see this issue, but I need a solution to configure on config.xml, to generate the project without problems.

And I use a lot other plugins, but I need maintain these plugins.

![image](https://cloud.githubusercontent.com/assets/260201/20011250/1419d788-a292-11e6-8cea-7ee71816e032.png)

You know any solution to configure the "[solution](http://stackoverflow.com/questions/32511242/cordova-error-on

[2016-11-04 15:40] cmackay commented on #71
Hmm, not sure. Sorry. We can keep the issue open and maybe others might have recommendations. Thanks for the information.

[2016-11-04 15:56] petarov commented on #71
Just a thought. Perhaps you should first identify which plugins are conflicting. Go to your project's `plugins` folder and run something like:

    $ grep com.google.android.gms **/*.xml -R

Afterwards, you can check if there are any updates for the plugins that use, what seems, older gms dependencies.

[2016-11-04 16:13] sandroweb commented on #71
Thank you @petarov and @cmackay for collaboration!!! Now the Android are building the app normaly.

[2016-11-04 16:13] #71 closed

[2017-01-13 12:15] petarov commented on #64
I'm also looking into that, although I'm not sure what is the best way to add this functionality.

@cmackay  Have you done any research on that? Maybe I can take a look. Google's docs say one should need [multiple Tracker objects](https://developers.google.com/analytics/devguides/collection/android/v4/advanced#multiple-trackers).

[2017-01-13 12:48] cmackay commented on #64
Hi @petarov :)

If there is a way to support this without requiring existing users to change the way they currently call the plugin then I am all for it. If you want to look in to this that would be great. Let me know if there is anything I can help with.  Here is some android sdk code using multiple trackers: https://developers.google.com/analytics/devguides/collection/android/v4/advanced

Also i

[2017-01-13 18:57] petarov commented on #64
@cmackay Awesome! :) Also, great point about the versioning.

I think the first step towards this is to just enhance the `setTracking` method to support multiple tracking ids and also adapt the iOS and Android code to support that.

A more enhanced variant is to be able to set logging, metrics, etc. per tracker, but I see this as something that may be done in the future as part of a more complex A

[2017-01-13 21:29] cmackay commented on #64
@petarov sounds like a good plan :) Let me know if I can be of any help. Thanks!

[2017-01-21 19:24] #64 closed

[2017-01-21 19:49] cmackay commented on #62
closing since I marked this as wont fix

[2017-01-21 19:49] #62 closed

[2017-01-27 15:39] jvjvjv opened #74 "iOS: sendHitsInBackground ability?"
Hey this is an enhancement request. Google's default dispatch interval is two minutes. But it looks like if a user closes the app before that two minutes, the data won't be dispatched.

[2017-01-27 15:42] jvjvjv commented on #74
I also wanted to request manual dispatch capability, but I wasn't sure if I should make it a separate ticket. I apologise for immediately unloading this onto you instead of implementing it myself and then sending you a pull request.

[2017-01-27 18:45] petarov commented on #74
@jvjvjv About your first question - yes, that seems to be the case as written in the [GA docs](https://developers.google.com/analytics/devguides/collection/ios/v3/dispatch).

So the hits should be dispatched once the user opens the app again.

There are currently 3 dispatch modes - periodic, manual and background. I think this plugin only supports periodic dispatch. Manual seems easy to implement,

[2017-01-27 23:08] cmackay commented on #74
@petarov Thanks for the info. Yeah I just also looked at both the Android and iOS APIs and those seem pretty straight forward to implement.  We could probably add setLocalDispatchPeriod and dispatchLocalHits pretty easily. I'll can add them tomorrow if we want. :)

[2017-01-27 23:48] cmackay commented on #74
Just realized setDispatchInterval is already implemented. Forgot about that. :) But I am adding a dispatchHits() function which can be used to manually trigger dispatching.

[2017-01-28 00:53] cmackay commented on #74
I added the dispatchHits functions and I should have it released sometime this weekend. #75  Thanks for adding the feature request. This will allow you manually dispatch the hits. The background dispatching requires additional permissions WAKE_LOCK and I am not sure I would want to add that as part of this plugin since it would apply to all users. I am open to suggestions if there are other ideas.

[2017-01-28 09:30] petarov commented on #74
@cmackay Good points about WAKE_LOCK! This is something I've been wondering as well. Perhaps we can solve this by using Cordova hooks and only add dependencies when users specify they need them. This might also be a solution for optional IDFA dependencies. Will have a look when I have some time.

[2017-01-28 14:54] cmackay commented on #74
I published the release 1.0.2 to npm which contains the dispatchHits function. I guess I will leave this issue open for the related investigation of background dispatching. Let me know if there are any questions or additional ideas for the plugin. Thanks!

[2017-03-15 00:45] Hirbod opened #76 "App installs"
Hi,

are app installs supported?

https://support.google.com/analytics/answer/3389142?hl=en

[2017-03-15 12:42] cmackay commented on #76
Hi @Hirbod,

Currently install tracking is not supported. I would consider adding it to the plugin if I didn't feel that it might impact other users. It requires manifest changes in Android which would have to be applied for all users of the plugin. I am not sure if there is a way to conditionally enable parts of the manifest within a cordova plugin. If we enable it for all users, I don't know if

[2017-03-15 12:45] Hirbod commented on #76
Hi @cmackay thanks for your response. It should prob. be possible with something like a variable or hook? --enable-install-tracking. I'm not really a plugin-api-pro, but I guess it should be possible this way.

I am already using AdID, and it's not a big deal at all, as long you toggle the correct checkboxes at submit-progress.

[2017-03-15 12:58] cmackay commented on #76
I would recommend forking the project if you want to add this. I am not adding libAdIdAccess due to issues it has caused in the past.

[2017-03-15 13:00] Hirbod commented on #76
Managing and keeping a fork is pretty time intensive. I would like to figure out if there is any way to include a condition which doesn't interfere with other users setup. (your point is totally clear to me)

[2017-03-15 13:03] cmackay commented on #76
If you find a good solution that will not impact other users and you are willing to help in supporting users as a result of your changes, I welcome a pull request. I just don't want to get caught up in supporting app store rejection issues again. :) Thanks!

[2017-07-30 20:17] jvjvjv opened #77 "Incompatibility with phonegap-plugin-push"
Hi.

When both this plugin and the [phonegap-plugin-push](https://github.com/phonegap/phonegap-plugin-push) plugin are installed in the project, building to Android provides the following error message.

[code]
I mention it here and not there as I believe this plugin is out of date, being updated seven months ago, whereas the latest release of the other plugin is a month ago.

[2017-07-30 20:21] jvjvjv commented on #77
The issue occurs on @2.0.0-rc5 right now (and likely previous releases of 2.0.0). This issue isn't a priority requirement.

[2017-07-30 20:34] cmackay commented on #77
I don't use the phonegap push plugin so I am not familiar with this issue. I have seen one other similar issue #72 but a workaround provided had hard coded versions in the gradle file which I don't want to be merged into master but maybe it will solve your problem. You might want to post to phonegap push plugin also and see if there are incompatibilities with other plugins also since I am sure man

[2017-07-30 20:35] cmackay commented on #77
Actually I'll leave it open in case others have a suggestion

[2017-07-30 20:40] jvjvjv commented on #77
Then it may be a phonegap push plugin issue, but I have a feeling it's an issue caused by using Firebase, where google services must be a specific version, so either a) everyone has to update their plugins for this one, or b) phonegap push plugin has to post hackish workarounds for version 2+.

[2017-07-30 20:53] cmackay commented on #77
The config this plugin uses for including google play services does not include a version which I would think would result in fewer version conflicts since no specific version is being required. <framework src="com.google.android.gms:play-services-analytics:+" /> So it is odd that a version incompatibility exists but obviously something is off when using with phonegap push plugin. I wish I had a b

[2017-07-30 20:56] cmackay commented on #77
seems similar https://github.com/fechanique/cordova-plugin-fcm/issues/90

[2017-07-31 10:41] petarov commented on #77
IMO the problem is in neither the **analytics** nor in the **push** or **fcm** plugins, but in how Cordova handles plugin versioning in general. You see, there may be many plugins in your project, all with different or specific version dependencies and it is totally unclear how to set a common version to all 3rd party plugins when building your Cordova project. I believe Cordova does not have a re

[2017-07-31 17:56] cmackay commented on #77
Thanks @petarov for your comments. I completely agree. I don't see this as something we can fix in this plugin. I appreciate your detailed notes for a potential workaround for users. :)

[2017-08-06 22:35] jvjvjv commented on #77
Thanks for the advice, everyone. Sounds like I'll just branch this to "fix" it directly in my project for now.

[2017-08-07 14:00] cmackay commented on #77
I'll leave it open and mark it wontfix. If someone does find a good way to resolve this, please post any suggestions here :) Thanks!

[2017-08-07 15:14] jvjvjv commented on #77
@petarov I haven't even tried your suggestion yet (been out of time lately) but I fully believe your suggestion will work. I appreciate your detailed notes and potential workaround as well.

[2017-11-30 18:04] william-rosa opened #78 "cordova platform add fails"
I'm seeing an issue when using this plugin with other plugins that utilise googleservices.

During 'cordova platform add', when it tries to install a plugin that uses googleservices after it has already added one before, cordova fails.

I tracked the issue down to the project.properties file in this plugin. The problematic line is this:
cordova.system.library.1=com.google.android.gms:play-services

[2017-11-30 18:08] cmackay commented on #78
same issue as #77

[2017-11-30 18:08] #78 closed

[2017-12-27 23:37] daniyalakhan commented on #77
Did anybody find a solution to this problem?
Every time a project is built, a change needs to be made in project.properties file and the version number of com.google.android.gms:play-services-analytics needs to be changed from + to 11.0.1.
Is there any possible way to avoid making this change every time a project is built?

[2017-12-28 00:31] cmackay commented on #77
I am not aware of any good solutions for it. If you find one, feel free to submit a PR. I am sure others would appreciate it.

[2017-12-28 10:24] petarov commented on #77
@cmackay  I think I got something, I'll open a PR to check with you.

[2017-12-28 12:26] cmackay commented on #77
That looks like a good solution for this. I appreciate you submitting the PR. I should have it merged and released later on today. Thanks @petarov !

[2017-12-28 22:05] #77 closed

[2017-12-28 23:06] cmackay commented on #77
The changes are now published in version 1.0.3. I tested it out a bit and things seem to be working well. Thanks again @petarov for making this change :)

[2017-12-29 12:17] petarov commented on #77
Awesome! Cheers 🍻